body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding:0;
    margin:0;}


body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

.testbox {
    margin: 50px auto;
    width: 390px;
    height: 430px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

hr{
    color: #a9a9a9;
    opacity: 0.3;
}

h2,h5 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    margin: 10px 0;
}

a.button,input.button{
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 3px;
    display: inline-block;
    /*float: right;*/

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #3aaf57;
    -webkit-box-shadow: 0 3px rgba(58, 175, 87, 0.75);
    -moz-box-shadow: 0 3px rgba(58, 175, 87, 0.75);
    box-shadow: 0 3px rgba(58, 175, 87, 0.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
}

a.button:hover,input.button:hover{
    top: 3px;
    background-color: #2e8b45;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

input.button{
    margin: 0px 20px 5px 0px;
    padding: 2px 15px;
}

a.button{
    padding: 6px 25px 0px 20px;
    text-decoration: none;
}

#roomList{
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

table{
    text-align: center;
    border-spacing: 70px 0;
}

th,td {
    margin-right: 20px;
}

#addRoom{
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 0px;
    margin: 10px 8px 0px 0px;
}

#backDiv{
    margin: 10px;
    padding: 10px;
}